# Backend
PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/bo_chaos?schema=public"
JWT_SECRET="replace-me"
APP_ID="replace-me"
APP_SECRET="replace-me"
OSS_RS_UPLOAD_TOKEN="replace-me"
PHOTO_OSS_HOST="https://zhangyiming.online"
BOFANS_WEAPP_PUBLISH_STATUS="normal"
MAX_CONCURRENT_CONVERSIONS=1

# Astro
ASTRO_SENTRY_AUTH_TOKEN=""
