.swiper-console {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  background: #f3f7fc;
  border: 1px solid #d8e3f0;
  border-radius: 6px;
  box-sizing: border-box;
}

.swiper-block {
  position: relative;
  width: 100%;
  height: calc(100vw * 0.75 - 62px);
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
  background: #f3f7fc;
}

.swiper-item {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
}
